.page-header
{
	background-color: #e3e8f2;
}
.page-header h1
{	padding-top: 50px;
	padding-bottom: 30px;
	font-size: 1.8em;
	text-align: center;
}
.page-subheader
{
	color: #7c7c80;
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    line-height: 2.14286;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}