.navbar-default{
    background:transparent;
    height: 60px;
    border:none !important;
}
.navbar-default:hover{
    background-color:#fff !important;
    border:none !important;
}
.navbar-nav li 
{
    padding-top: 5px;
} 
.navbar-nav li a{
    color:#14ad8f !important;
    font-size: 18px;
} 
.navbar-nav li a:hover{
    border-style: solid;
    border-width: 0px 0px 2px 0px;
     border-color: #000;
    color:#000 !important;
} 
.navbar-brand
{	
	font-size: 24px;
}
.collapse.in{
    
    background-color:#f0f0f0 !important;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus
.spacer{
   background-color:#888;   
}

.spacer{
    height:1px;
}
.gap
{
	height: 50px;
}
.showcase
{

}

.footer-inline
{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.footer-inline li {
    float: left;
}

.footer-inline li a {
    display: inline-block;
    color: #000;
    font-size: 12px;
    text-align: center;
    padding: 0px 20px 20px 0px;
    text-decoration: none;
}
.follow-icon
{
    display:inline-block;
}
.follow-icon-img
{
    position: relative;overflow: hidden;border-radius: 50%;
}
.carousel,
.item,
.active {
    height: 100%;
}


.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.theme-color
{
	color: #14ad8f;
}

.category-header
{	
	background-color: #e3e8f2;
}
.category-header h1
{	padding-top: 50px;
	padding-bottom: 30px;
}
.category-subheader
{
	color: #7c7c80;
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    line-height: 2.14286;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
.category-sort-inline
{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.category-sort-inline li {
    float: left;
}
.category-sort-inline li a {
    display: block;
    color: #000;
    font-size: 16px;
    text-align: center;
    padding: 0px 25px 0px 0px;
    text-decoration: none;
    padding-bottom: 5px;
}
.category-sort-inline li a:hover {
   border-style: solid;
   border-width: 0px 0px 1px 0px;
   border-color: #000;
   color:#000 !important;
}
.category-sort-inline-right
{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.category-sort-inline-right li {
    float: right;
}
.category-sort-inline-right li a {
    display: block;
    color: #000;
    font-size: 16px;
    text-align: center;
    padding: 0px 25px 0px 0px;
    text-decoration: none;
    padding-bottom: 5px;
}
.category-sort-inline-right li a:hover {
   border-style: solid;
   border-width: 0px 0px 1px 0px;
   border-color: #000;
   color:#000 !important;
}
.product:hover
{

}
.single-product
{
	padding-top: 120px;
}
.single-product h1
{
	font-size: 2.1em;
	color: #000;
}
.single-product h4
{
	font-size: 1.2em;
	color: #7c7c80;
}
.product-details
{
	padding-top: 40px;
}
.product-details a
{
	font-size: 1.5em;
	color: #000;
	text-decoration: none;
}
.theme-btn
{
    background-color: #14ad8f; border-color: #14ad8f; border-style: solid; color: #fff;
}
.theme-btn:hover
{
    background-color: #000; border-color: #000; color: #fff;
}
.theme-btn-lg
{
	height: 60px; background-color: #14ad8f; border-color: #14ad8f; border-style: solid; color: #fff;
}
.theme-btn-lg:hover
{
	 height: 60px; background-color: #000; border-color: #000; color: #fff;
}
.card
{   
    padding: 40px 20px 40px 20px;
    box-shadow: 2px 2px 5px #888888;
    background-color: #fff;
}
.theme-btn-circle{
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #14ad8f; 
    border-color: #14ad8f; 
    border-style: solid; 
    color: #fff;
    border-radius: 50%;
    margin: auto;
    display: block;
}
.well
{
   background-color: #fff;  
   border-style: none;
}
.info-swap
{
    list-style-type: none;
    overflow: hidden;
    position:relative;
    text-align: center;
}

.info-swap li {
    float: left;
    position:relative;
    text-align: center;
    display: inline-block;
}

.info-swap li a {
    display: block;
    color: #000;
    font-size: 1.5em;
    text-align: center;
    padding: 0px 20px 20px 0px;
    text-decoration: none;
}
.info-swap li a:active {
    display: block;
    color: #000;
    font-size: 1.5em;
    text-align: center;
    padding: 0px 20px 20px 0px;
     border-style: solid;
    border-width: 0px 0px 2px 0px;
     border-color: #000;
}
.btn
{
    border-radius: 0px !important;
}
@media screen and (max-width: 1280px)
.quantity {
    width: 100px;
}
@media screen and (max-width: 1440px)
.quantity {
    width: 140px;
}
.quantity {
    float: none;
    width: 160px;
    display: inline-block;
    margin-right: 10px;
    margin: 0 4px 0 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 7px;
    border: 1px solid #e4e6eb;
}
.quantity .decrease {
    cursor: pointer;
    padding: 0 6px;
    display: inline-block;
    background: none;
    border: none;
}
.quantity .qty {
    width: 3.631em;
    text-align: center;
}
.quantity .qty {
    -moz-appearance: textfield;
    border-width: 0;
    width: 66px;
    font-size: 16px;
    font-size: 1.6rem;
    color: #23232c;
}
.increase .quantity .decrease {
    padding: 0;
}
.quantity .increase,.quantity .decrease {
    cursor: pointer;
    padding: 0 6px;
    display: inline-block;
    background: none;
    border: none;
}
.quantity
{
     border-style: solid;
    border-width: 1px 1px 1px 1px;
}